@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #39EECF;
    --secondary-color:  #0f4d42; 
}

body {
    font-family: "Poppins";
    background: #E2E2E2;
    margin: 0;
}

.navbar{
background-color: white;
padding: 1em;

    .logo {
        font-weight: bold;
        font-size: 1.2em;
        margin-left: 1em;
        color: black;
        width: 120px;
        span {
            color: var(--primary-color);
        }
    }
    #menu-entry{
        margin-right: 1.2em;
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu, .mobile-menu-exit {
        cursor: pointer;
    }

}


a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


section {
    padding: 5em 2em;
}

#overlay {
    position: fixed;
    top: 4.2em;
    width: 100%;
    text-align:center;
    background-color: #0f4d42;
    z-index: 2;
    cursor: pointer;
    /*Flexbox*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    h3 {
        color: var(--primary-color);
    }
}

.main-banner {
    background: url("../../resources/assets/Services\ banner.svg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    h1 {
        text-align: center;
        margin: auto;
        background: white;
        width: 8em;
        line-height: 2em;
        border: solid var(--primary-color);
        border-radius: 15px;
        color: var(--primary-color);
    }
}


.account-sec {
    background-color:var(--secondary-color);
    padding-top: 4em;
    padding-bottom: 70px
    h1 {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 2em;
        margin-bottom:2em;
    }

    .nav {

        ul {
            float: center;
            text-align: center;
            li {
                display: inline-block;  
                margin-left: 2em;

                a {
                    color: var(--primary-color);
                    font-size: 1.4em;
                }
            }
        }
        
    }


    .nav-right {
        position: relative;
        float: right;
        ul {
            position: absolute;
            display: block;
            right: -4em;
            top: 1em;

            li {
                margin-bottom: 2em;
                text-align:center;
                width: 14em;
            }
            
            a {
                color: white;
                font-size: 1.2em;

            }
            
        }
    }

    .main-box {

        color: white;

        h2 {
            width: fit-content;
            margin: 1em auto;
        }

        ul {
            margin-top:2em;
            
            a {
                color: black;
            }
        }
        
        table {
            text-align: center;
            margin: auto;
            border-collapse: collapse;
            
            .row:hover {background-color: #39eed071;}

            th, td {
                padding: 8px;
                border-bottom: 1px solid var(--primary-color);
            }

            td {
                padding: 10px 0;
                color: white;
            }

            th {
                color: var(--primary-color);
                font-size: 1.2em;
                height: 50px;
                
            }

            tr {
                margin-right: 2em;
                // display: inline;
            }
        }

        .change-info {
            ul {
                li {
                    display: inline;
                    margin-right: 1em;
                    margin-top: 4em;
                    float: right;
                }
            }

            a {
                color: white;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }


}

.changePass {

    background-color:var(--secondary-color);

    form {
        width: min-content;
        margin: auto;

    }

    label {
        display: block;
        color: white;
        text-align: left;

        .confirm-password {
            width: 10em;
        }

    }

    input {
        width: 20em;
        padding: .5em;
        border-radius: 1em;
        border: 1px solid gray;
        box-sizing: border-box;
        margin-bottom: 1em;
        
    }
    
    .submit-cta {
        border: 3px solid var(--primary-color);
        background: var(white);
        color: var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: 1em;
        display: inline-block;
        padding: .8em 2em;
        width: unset;
        cursor: pointer;
        margin-right: 12em;
        line-height: .8em;
    }

    .login-a {
        color: white;
        a {
            color: var(--primary-color);
            font-weight: bold;
        }
    }

    .form-error span {
        height: 35px;
        font-size: .9em;
        color: #D83D5A;
        text-align: left;
    }


    .form-error input {
        border: 2px solid #D83D5A;
        }


    
    
}

#validation {
        display: none;
        font-size: .8em;
        color: white;
        text-align: left;

        .valid:before {
            position: relative;
            content: "✔";
            color: var(--primary-color);
            left: -5px;
            right: 15px;
        }

        .invalid:before {
            position: relative;
            content: "✖";
            color: #D83D5A;
            left: -5px;
            right: 15px;
        }
        
    }



nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 500;
    width: 60%;
    right: 0;
    top: 0;
    background: var(--secondary-color);
    display: block;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            color: white;
            display: block;
            padding: .6em;
            font-size: 1.2em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }

    
}

.mobile-menu-exit {

    float: right;
    cursor: pointer;
    margin-top: .4em;
}

@media only screen and (min-width: 768px) {
    
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        position: unset;
        height: auto;
        background: none;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;

            
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.book-cta a {
            font-weight: bold;
            border: solid var(--primary-color);
            border-radius: 5em;
            color: var(--primary-color); 

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }

    }



}

@media only screen and (min-width: 1080px) {


    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

}

@media only screen and (min-width: 1450px) {


    .main-banner {
        h1 {
            width: 8em;
            line-height: 2em;
            border-radius: 15px;
            font-size: 3em;
        }
    }

    .account-sec {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -5em;
            border-radius: 0 30px 30px 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 10em;
            background: url("../../resources/assets/Group\ 21.svg") no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }

}